<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SAI_Editor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <userSettings>
    <SAI_Editor.Properties.Settings>
      <setting name="Host" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="User" serializeAs="String">
        <value>root</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value />
      </setting>
      <setting name="Database" serializeAs="String">
        <value>world</value>
      </setting>
      <setting name="Port" serializeAs="String">
        <value>3306</value>
      </setting>
      <setting name="AutoConnect" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="InstantExpand" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoSaveSettings" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PromptToQuit" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AnimationSpeed" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="HidePass" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PromptExecuteQuery" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ChangeStaticInfo" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Entropy" serializeAs="String">
        <value />
      </setting>
      <setting name="ShowTooltipsStaticly" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GenerateComments" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CreateRevertQuery" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LockSmartScriptId" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ListActionLists" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AllowChangingEntryAndSourceType" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PhaseHighlighting" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UseWorldDatabase" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="InformedAboutSurvey" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DuplicatePrimaryFields" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AgreedToSurvey" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowBasicInfo" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LastStaticInfoPerTab" serializeAs="String">
        <value />
      </setting>
      <setting name="WowExpansionIndex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PastebinLinksStore" serializeAs="String">
        <value />
      </setting>
      <setting name="LastFormExtraWidth" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LastFormExtraHeight" serializeAs="String">
        <value>0</value>
      </setting>
    </SAI_Editor.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      
      
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    <remove invariant="MySql.Data.MySqlClient" /><add description=".Net Framework Data Provider for MySQL" invariant="MySql.Data.MySqlClient" name="MySQL Data Provider" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.10.5.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" /></DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.1.0" newVersion="3.5.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
