<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SAI_Editor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <SAI_Editor.Properties.Settings>
            <setting name="Host" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="User" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="Database" serializeAs="String">
                <value>trinitycore_world</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="AutoConnect" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InstantExpand" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LoadScriptInstantly" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoSaveSettings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PromptToQuit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AnimationSpeed" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="HidePass" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PromptExecuteQuery" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ChangeStaticInfo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Entropy" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowTooltipsPermanently" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GenerateComments" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastEntryOrGuid" serializeAs="String">
                <value>33303</value>
            </setting>
            <setting name="LastSourceType" serializeAs="String">
                <value>0</value>
            </setting>
        </SAI_Editor.Properties.Settings>
    </userSettings>
</configuration>