<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net45" />
  <package id="Google.Protobuf" version="3.5.1" targetFramework="net46" />
  <package id="MySql.Data" version="6.10.5" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="11.0.1-beta1" targetFramework="net47" userInstalled="true" />
  <package id="ObjectListView.Official" version="2.9.2-alpha2" targetFramework="net47" userInstalled="true" />
  <package id="System.Data.SQLite" version="1.0.106.0" targetFramework="net45" userInstalled="true" />
  <package id="System.Data.SQLite.Core" version="1.0.106.0" targetFramework="net45" requireReinstallation="true" />
  <package id="System.Data.SQLite.EF6" version="1.0.106.0" targetFramework="net45" requireReinstallation="true" />
  <package id="System.Data.SQLite.Linq" version="1.0.106.0" targetFramework="net45" requireReinstallation="true" />
</packages>